Unification_books.pro.user
src/search/searchwindow.cpp.autosave
src/mainwindow/mainwindow.cpp.autosave
src/mainwindow/dataloader.h.autosave
Books.pro.user
src/catalogEditor/catalogeditor.cpp.autosave
src/search/searchwindow.h.autosave
